* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(50, 12, 85);
}
h1 {
  color: white;
  text-align: center;
  margin: 1rem;
}
.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  padding: 1rem;
  border: 1px solid white;
  margin: auto;
}
form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
input {
  width: 80%;
  height: 1.5rem;
}
form button {
  width: 10%;
  height: 1.5rem;
  outline: 0;
}
.to_do_list {
  margin: 10px;
  width: 100%;
  padding: 10px;
}
.to_do_list ul li {
  display: flex;
  justify-content: space-between;
  height: 1.5rem;
  align-items: center;
  color: white;
  padding: 5px;
  border-bottom: 1px solid white;
}
.to_do_list ul li i {
  display: none;
}
a {
  text-decoration: none;
  color: white;
  float: right;
  margin-top: 8px;
}

.file-upload-demo {
  margin-top: 2rem;
  height: 200px;
  width: 350px;
  background: white;
  padding: 1rem;
}
.file-item {
  color: white;
}
